
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    height: 100vh;
    margin: 0px;
    display: grid;
    background-color: rgba(255, 255, 255, 0.863);
    grid-template-rows: 65px 2fr 60px;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "navbar navbar"
        "page page"
        "footer footer"
    ;
}


.main{

grid-area: page;


}
/* Page 1  */
.page{
    background-color: rgba(255, 255, 255, 0.863);
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    box-shadow: 10px 10px 10px   rgba(242, 253, 255, 0.863);
    flex-wrap: wrap;
}

.min_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 220px;
    height: 350px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px   rgba(0, 0, 0, 0.863);
    flex-wrap: wrap;
    margin: 10px;

}
.min_box:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    box-shadow: 1px 1px 10px  #00701c;
    cursor: pointer;
   
    
}
.min_box img {
    width: 210px;
    height: 170px;
    border-radius: 10px;
}
.min_box h1{
    color: #00ad1d;
    font-size: 20px;
}
.boxhometext{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    color:#00ad1d;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}
.boxhometext h1{
    color:#00ad1d;
    font-size: 60px;
}
.boxhometext p{
    color:#00ccff;
    font-size: 30px;
}
.bnt_denuciar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 200px;
    height: 50px;
    background-color: #00ad1d; 
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}
.teste img{ 
    display: flex;
    width: 800px;
    height: 600px;
    border-radius: 20px;
  
   
}
/* page 2 */
.page2{
    background-color: rgba(255, 255, 255, 0.863);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 30px;
}
.boxhometext2{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    color:#00ad1d;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}
.boxhometext2 h1{
    color:#00ccff;
    font-size: 60px;
}
.boxhometext2 p{
    
    color:#00ad1d;
    font-size: 30px;
}
.bnt_denuciar2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 200px;
    height: 50px;
    background-color:  #00ccff; 
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border: #00ccff;
}
.teste2 img{ 
    display: flex;
    width: 800px;
    height: 600px;
    border-radius: 20px;
  
   
}
.caixa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
    padding: 20px;
    
    
}

.caixa h1{
    color:  #00ccff; 
}
.caixa p {
    font-size: 20px;
    color:#00ad1d;
}

/* /////////NavBar/////////////////// */
.navbar{
    grid-area: navbar;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000000;
    padding: 0px;
    
    
}
.box1{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    font-size: 22px;
    color:#00ad1d;
    text-decoration: none;
    
    font-weight: 500;

  
}

.imglogo{
    margin-left: 20px;
    width: 150px;
    height:50px;
    border-radius: 1%;
    margin-right: 10px;
    
}
.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}


.imgperfil{
   
    width: 45px;
    height:45px;
    border-radius: 50%;
    border: 1px solid #00ad1d;
    margin:10px

}
.search_bar{
    width: 400px;
    height:35px;
    border-radius: 1%;
    border-color: #00ad1d;
    color: #0b4200;
    font-size: 15px;
}
.search-btn{
    height:35px;
    width: 35px;
    border-radius: 1%;
    border-color: #00ad1d;
    background-color: #fff;
    color:#12532e; ;
    cursor: pointer;
   
}
.bar{
    display:flex ;
    align-items: center;
    justify-content: center;
}



/* ////////////////////////footer////////////////////// */
.footer{
    grid-area: footer;
    background-color:#00ad1d;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


