*{
    margin: 0px;
    padding: 0px;  
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 120vh;
    background: #093028;  
    background: -webkit-linear-gradient(to bottom, #237A57, #093028);
    background: linear-gradient(to bottom, #237A57, #093028);
       
    
    
  
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
    background-color: #fff;
    box-shadow:1px 1px 10px  #093028;
    width: 40%;
}
.row{
    display: flex;
    align-items: center;
    flex-direction: row;

}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    Color: #00ccff;
}
.img img{
 
    width: 170px;
    height: 170px;
    border-radius: 50%;

}
.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.form h1{
   Color: #00ccff;
} 
label{
    color:#093028;
 } 
.campos_input{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}

.input{
    width: 250px;
    height: 30px;
    background-color:rgb(255, 255, 255);
    border-radius: 3px;
    margin: 5px;
    border: 1px solid #00ccff;
    color:#093028;
}

.bnt{

    width: 100px;
    height: 30px;
    background-color:#00ccff;
    box-shadow: 1px 1px 5px #093028;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}
.navbar{
    grid-area: navbar;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 1px 1px 5px #b1b1b1;
    
    
}
.box1{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.navbar a{
    font-size: 22px;
    /* color: #22ce00; */
    text-decoration: none;
    color: #093028;
    font-weight: 500;
    
    
}
.navbar a:hover{
    font-size: 22px;
    /* color: #22ce00; */
    text-decoration: none;
    color: #00ccff;
    font-weight: 500;
    
    
}

.navbar h1{
    
    width: 120px;
    height:65px;
    border-radius: 1%;
    margin: 20px;
    font-size: 27px;
    color: #00aeff;
}
.navigacion{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bar{
    display:flex ;
    align-items: center;
    justify-content: center;
}
.a_do_login{
    
    margin: 10px;
}
.erro{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 15px;
    background-color:rgb(255, 255, 255);
    border-radius: 3px;
    margin: 5px;
    color:#ff0000;
}
