*{
    margin: 0px;
    padding: 0px;
    
}
body{
    height: 100vh;
    margin: 0px;
    display: grid;
    background-color: rgba(242, 253, 255, 0.863);
    grid-template-rows: 120px 2fr 60px;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "navbar navbar"
        "page page"
        "footer footer"
    ;
}


.main{

grid-area: page;


}
/* Page 1  */
.page{
    background-color: rgba(242, 253, 255, 0.863);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    box-shadow: 10px 10px 10px   rgba(242, 253, 255, 0.863);;
}
.box_denuncia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px  #000000;
   
}
.mid_box_left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; height: 100%;
    background-color: #fff;
    
   
  
}
.mid_box_right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%; height: 100%;
    border-radius: 0px 10px  10px 0px;
    background-color: #a6e0f7;
    padding: 10px;
    
    
}
/* /////////box1/////////// */
.input_campo{
    width: 250px;
    height: 30px;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    
}
.div_input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    color:#00ccff;
    font-size: 20px;
}

.from_button{
    background-color: #00ccff;
    color:#ffffff;
    width: 300px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
}
.from_button:hover{
    background-color: #00ad1d;
    color:#ffffff;
    width: 300px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;


}
.input_d{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* //////////////////box2///////////////////// */



/* /////////NavBar/////////////////// */
.navbar{
    grid-area: navbar;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000000;
}
.box1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar a{
    font-size: 22px;
    color:#00ad1d;
    text-decoration: none;
    padding: 20px;
    font-weight: 500;

  
}
.navbar a:hover{
    transition-delay: 10ms;
    color: #00ccff;
}
.imglogo{
    margin-left: 50px;
    width: 100px;
    height:90px;
    border-radius: 50%;
}
.search_bar{
    width: 350px;
    height:35px;
    border-radius: 15px;
    border-color: #00ccff;
    color: #00ccff;
    font-size: 17px;
}
.search-btn{
    height:35px;
    width: 35px;
    border-radius: 50%;
    border-color: #00ccff;
    background-color: #fff;
    color:#00ccff ;
    cursor: pointer;
   
}
.bar{
    display:flex ;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;


}

/* ////////////////////////footer////////////////////// */
.footer{
    grid-area: footer;
    background-color:#00ad1d;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


